body {
    display: flex;
    flex-direction: column;
    height: 60vh;
    padding: 8px;
    margin: 0;
}
#header-box {
    font-size: 32px;
    display: flex;
    color:white;
    gap:4px;
}

#player-score-box , #player-name-box{
    display: flex;
    padding-left: 32px;
    background-color: #3882F6;
    padding: 48px;
    border-radius: 8px;


}
#player-name-box {
    display: flex;
    flex: 0.5;
}

#computer-name-box {
    display: flex;
    flex:0.5;
}

#computer-score-box , #computer-name-box{
    display: flex;
    justify-content: flex-end;
    padding-right: 32px;
    background-color: #880808;
    padding: 48px;
    border-radius: 8px;

}

#computer-score-box , #player-score-box {
    font-size: 48px;
    font-weight: 800;
    
}

#pick-container {
    display: flex;
    flex:4;
    justify-content: space-around;
}

#button-container {
    display: flex;
    flex:1;
    justify-content: space-around;
    border-top-style: solid;
    border-top-color: white;
    gap:4px;
}
#rock-button, #paper-button, #scissors-button{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    background-color: 	#199600;
    color:white;
    border-style: none;
    border-radius: 8px;
}
#user-pick {
    display: flex;
    flex: 1;
    background-color: #5693f5;
    border-top-style: solid;
    height: auto;
    font-size: 64px;
    color:white;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

#computer-pick {
    display: flex;
    flex: 1;
    background-color: #852020;
    border-top-style: solid;
    height: auto;
    font-size: 64px;
    color:white;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

#winMessageBox {
    display: inline;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    color:white;
    border-radius: 8px;
    margin-bottom: 4px;

}

button:hover {
    box-shadow: none;
    transform: scale(1.06);
}